/* =========================================================================
   objects.media
   ========================================================================= */

   @layer objects {
    /**
     * Aligns an image next to content.
     *
     * Example:
     *
     * <div class="o-media">
     *     <img class="o-media__image">
     *     <div class="o-media__content"></div>
     * </div>
     */
    .o-media { 
        display: flex;
        flex-direction: column;
    }

    .o-media__image { 
        display: block; 
        flex-shrink: 0;
    }

    .o-media__content { 
        flex: 1;
    }

    .o-media__content,
    .o-media__content > :last-child {
        margin-block-end: 0;
    }

    @media (min-width: 48rem) {
        .o-media {
            flex-direction: row;
            align-items: flex-start;
        }

        .o-media__image {
            margin-inline-end: var(--wisp-spacing-md, 1rem);
        }
    }

    /*  
       Reverse Modifier
       ===================================================================== */ 

    /**
     * Places the image after the content.
     */
    @media (min-width: 48rem) {
        .o-media--reversed > .o-media__image {
            order: 1;
            margin-inline-end: 0;
            margin-inline-start: var(--wisp-spacing-md, 1rem);
        }
    }

    /*  
       Gap Modifiers
       ===================================================================== */

    /**
     * Sets the gap on the inline axis.
     */
    .o-media--gap-sm > .o-media__image  { margin-inline-end: var(--wisp-spacing-sm, .5rem); }
    .o-media--gap-md > .o-media__image  { margin-inline-end: var(--wisp-spacing-md, 1rem); }
    .o-media--gap-lg > .o-media__image  { margin-inline-end: var(--wisp-spacing-lg, 1.5rem); }

   /*  
       Align Modifiers
       ===================================================================== */

    /**
     * Sets the cross-axis alignment of the image and content.
     */
    .o-media--align-start   { align-items: flex-start; }
    .o-media--align-center  { align-items: center; }
    .o-media--align-end     { align-items: flex-end; }

}