/* ==========================================================================
   u-width
   ========================================================================== */
/**
 * Sets a width on an element.
 */
@layer utilities {
    .u-width-xs {
		width: 8rem;
	}

    .u-width-sm {
		width: 12rem;
	}

    .u-width-md {
		width: 16rem;
	}

    .u-width-lg {
		width: 24rem;
	}

    .u-width-xl {
		width: 32rem;
	}

    .u-width-full {
		width: 100%;
	}

    .u-width-lg,
    .u-width-xl {
        max-width: 100%;
    }
}
