/*
	Foundation
	==================================================================== */
 
h3 {
	font-weight: 600;
}

pre {
	padding: 1.5rem;
	color: #fff;
	border-radius: 4px;
	background-color: #222;
}

p code {
	background-color: #f0f0f0;
}

/*
	VitePress 
	==================================================================== */

.u-vite-preview {
	margin-block-end: 1.5rem;
	padding-block: 3rem;
	padding-inline: 1.5rem;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	border-radius: 4px;
}		

/*
	Demos 
	==================================================================== */

/**
 * Vue is acting like a bitch when it comes to style tags. I have to define
 * example code here.
 */
.demo-color:hover {	
	background-color: #222; 
	color: #fff;
}

.demo-transform {
	transform: scale(.95);
}

.demo-transform:hover {
	transform: scale(1);
}


/*
	Utilities 
	==================================================================== */
 
	.c-box--feature {
		border-left-width: 8px;
		border-left-style: solid;
		border-left-color: #ccc;
	}
 
		
@layer utilities {
	
	.u-color-black {
		color: #fff;
		background-color: #222;
	}

	.u-padding-inline-start-md { 
		padding-inline-start: 1rem;
	}
}