/* ==========================================================================
   c-badge
   ========================================================================== */

/**
 * Displays a small inline label for status, count, or metadata.
 *
 * Example:
 *
 * <span class="c-badge">Label</span>
 */
@layer components {
    .c-badge {
        display: inline-block;
        padding-block: var(--wisp-spacing-xs);
        padding-inline: var(--wisp-spacing-sm);
        border-radius: 9999px;
        font-size: var(--wisp-font-size-sm);
        color: var(--wisp-color-neutral-text);
        background-color: var(--wisp-color-neutral);
    }

	/* --square ============================================================= */

    .c-badge--square {
        border-radius: var(--wisp-radius-sm);
    }

	/* --outline ============================================================ */

 	.c-badge--outline {
        border-width: 1px;
        border-style: solid;
        border-color: var(--wisp-color-border-subtle);
		background-color: transparent;
    }
}
