/* ==========================================================================
   c-box
   ========================================================================== */

/**
 * Boxes off content from the surrounding elements.
 *
 * Example:
 *
 * <div class="c-box">
 * </div>
 */
@layer components {
    .c-box {
	    display: block;
	    padding: var(--wisp-spacing-md);
	}

    .c-box > :last-child {
		margin-block-end: 0;
	}

	/* --spacing ============================================================ */

	.c-box--spacing-sm {
		padding: var(--wisp-spacing-sm);
	}

	.c-box--spacing-lg {
		padding: var(--wisp-spacing-lg);
	}

	/* --border ============================================================= */

	.c-box--border {
        border-width: 1px;
        border-style: solid;
        border-color: var(--wisp-color-border-subtle)
    }

	/* --round ============================================================== */

	.c-box--round {
        border-radius: var(--wisp-radius-md);
    }
}
