/* ==========================================================================
   c-drawer
   ========================================================================== */

@layer components {
	.c-drawer {
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		height: 100vh;
		width: 260px;
		overflow-y: auto;
		box-shadow: 4px 0 12px var(--wisp-color-border);
		color: var(--wisp-color-surface-text);
		background-color: var(--wisp-color-surface);
		transform: translateX(-100%);
		transition-property: transform;
		transition-duration: 200ms;
		transition-timing-function: ease;
	}

	.c-drawer.is-open {
		transform: translateX(0);
	}

    /* --right ============================================================== */

	.c-drawer--right {
		left: auto;
		right: 0;
		transform: translateX(100%);
		box-shadow: -4px 0 12px var(--wisp-color-border);
	}
}
