/* ==========================================================================
   c-table-wrapper
   ========================================================================== */

/**
 * Make a table scrollable on small screens.
 *
 * Example:
 *
 * <div class="c-table-wrapper">
 *     <table>
 *         <thead>
 *             <tr>
 *                 <th></th>
 *                 <th></th>
 *                 <th></th>
 *             </tr>
 *         </thead>
 *         <tbody>
 *             <tr>
 *                 <td></td>
 *                 <td></td>
 *                 <td></td>
 *             </tr>
 *         </tbody>
 *     </table>
 * </div>
 */
:root {
	--wisp-table-wrapper-min-width: 40em;
}

@layer components {
    .c-table-wrapper {
        border-width: 1px;
        border-style: solid;
        border-color: var(--wisp-color-border);
        overflow-x: auto;
    }

    .c-table-wrapper > table {
		min-width: var(--wisp-table-wrapper-min-width);
    }

    @media (min-width: 48rem) {
        .c-table-wrapper {
            border: none;
        }
    }
}
