/* =========================================================================
    components.box
    ========================================================================= */
    
@layer components {
    /**
    * Boxes off content from the surrounding elements.
    *
    * Example:
    *
    * <div class="c-box">
    * </div> 
    */
    .c-box { 
        display: block; 
        padding: var(--wisp-spacing-md, 1rem);
    }

    .c-box > :last-child    { margin-block-end: 0; }

    /*
        Spacing Modifiers 
        ==================================================================== */

    /**
    * Applies padding on the block and inline axis.
    */
    .c-box--spacing-sm 		{ padding: var(--wisp-spacing-sm, .5rem); }
    .c-box--spacing-md 		{ padding: var(--wisp-spacing-md, 1rem); }
    .c-box--spacing-lg 		{ padding: var(--wisp-spacing-lg, 1.5rem); }

    /*
        Bordered Modifier
        ==================================================================== */

    /**
     * Applies a border around the box.  
     */
	 .c-box--bordered {
        border-width: 1px;
        border-style: solid;
        border-color: var(--wisp-box-border-color, #ccc)
    } 
    /*
        Rounded Modifier
        ==================================================================== */

    /**
     * Applies a border radius around the box.  
     */
	.c-box--rounded {
        border-radius: var(--wisp-box-border-radius, 8px);
        overflow: hidden;
    }	
}