/* ==========================================================================
   b-popover
   ========================================================================== */

/**
 * Anchors a popover below its trigger and flips up if space is limited.
 *
 * Example:
 *
 * <button popovertarget="menu"></button>
 *
 * <div id="menu" class="b-popover" popover></div>
 */
@layer behaviors {
    .b-popover {
		margin-block: 4px;
        margin-inline: 0;
        border: 0;
        padding: 0;
        color: inherit;
        background-color: transparent;
		position-area: block-end;
		position-try-fallbacks: flip-block;
    }
}
