/* ==========================================================================
   b-press-outline
   ========================================================================== */

/**
 * Scales an element on a hover and active state.
 *
 * Example:
 *
 * <button class="c-button b-press-outline"></button>
 */
:root {
    --wisp-outline-color: var(--wisp-color-primary);
    --wisp-outline-width: 2px;
    --wisp-outline-offset: 2px;
}

@layer behaviors {
    .b-press-outline {
		outline-width: var(--wisp-outline-width);
		outline-style: solid;
		outline-color: transparent;
		outline-offset: var(--wisp-outline-offset);
		transition-property: outline-color;
		transition-duration: 200ms;
		transition-timing-function: ease-out;
    }

    @media (prefers-reduced-motion: reduce) {
        .b-press-outline {
			transition: none;
        }
    }

    .b-press-outline:hover,
	.b-press-outline:active,
	.b-press-outline:focus-visible {
		outline-color: var(--wisp-outline-color);
    }

	.b-press-outline:disabled,
	.b-press-outline[aria-disabled="true"]  {
		transition: none;
	}
}
