/* ==========================================================================
   b-inview-reveal
   ========================================================================== */

/**
 * Reveals an element as it enters the viewport.
 *
 * Example:
 *
 * <div class="b-inview-reveal"></div>
 */
@layer behaviors {
    .b-scroll-scale {
        animation: wisp-scroll-scale 1ms linear both;
        animation-timeline: view();
        animation-range: entry 10% cover 30%;
    }

    /* --keyframes ========================================================== */

    @keyframes wisp-scroll-scale {
        from {
            opacity: 0;
            transform: scale(.95);
        }
        to   {
            opacity: 1;
            transform: scale(1);
        }
    }
}
