/* ==========================================================================
   b-scroll-nudge
   ========================================================================== */

/**
 * Nudges an element as it enters the viewport.
 *
 * Example:
 *
 * <div class="b-scroll-nudge"></div>
 */
@layer behaviors {
    .b-scroll-nudge {
        animation: wisp-scroll-nudge-bottom 1ms linear both;
        animation-timeline: view();
        animation-range: entry 10% cover 30%;
    }

    @media (prefers-reduced-motion: reduce) {
        .b-scroll-nudge {
            animation: none;
        }
    }

    /* --strength =========================================================== */

    .b-scroll-nudge--subtle {
        animation-range: entry 5% cover 20%;
    }

    .b-scroll-nudge--strong {
        animation-range: entry 15% cover 45%;
    }

    /* --direction ========================================================== */
    .b-scroll-nudge--from-top {
        animation-name: wisp-scroll-nudge-from-top;
    }

    .b-scroll-nudge--from-left {
        animation-name: wisp-scroll-nudge-from-left;
    }

    .b-scroll-nudge--from-right {
        animation-name: wisp-scroll-nudge-from-right;
    }


    /* --keyframes ========================================================== */

    @keyframes wisp-scroll-nudge-bottom {
        from {
            transform: translateY(.75rem);
        }
        to {
            transform: translateY(0);
        }
    }

    @keyframes wisp-scroll-nudge-from-top {
        from {
            transform: translateY(-.75rem);
        }
        to {
            transform: translateY(0);
        }
    }

    @keyframes wisp-scroll-nudge-from-left {
        from {
            transform: translateX(-.75rem);
        }
        to {
            transform: translateX(0);
        }
    }

    @keyframes wisp-scroll-nudge-from-right {
        from {
            transform: translateX(.75rem);
        }
        to {
            transform: translateX(0);
        }
    }
}
